<div class="footer">
  <div class="footer-content">

    <div class="block green" (click)="_saveData()">
      <i class="fa fa-check fa-4x" aria-hidden="true"></i>
    </div>
    <div class="block red">
      <i class="fa fa-times fa-4x" aria-hidden="true"></i>
    </div>
    <div class="block gray" (click)="_skipText()">
      <i class="fa fa-ban fa-4x" aria-hidden="true"></i>
    </div>
    <div class="block gray" (click)="_backText()">
      <i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
    </div>

  </div>
</div>